.postList{
    
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    
}

.loading{
    text-align: center;
    font-size: 1.5rem;
    color: white;
    letter-spacing: 0.2rem;
}